body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}


nav
{
	background-color: rgba(255, 255, 255, 0.7);
	width: 100%;
	padding-bottom: 1%;
}

body
{
	text-align: left;
	background-image: url(".../../img/background.png");
	align-content: center;
	color: black;
}

h1
{
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 550%;
	padding-left: 5%;
	margin-bottom: 3%;
	margin-top: 0;
	padding-top: 3%
}

a.accueil
{
	color: black;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: solid;
	text-decoration: none; 
}

p.nav
{
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 150%;
	padding-left: 2%;
}

table.contact
{
	float: right;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 130%;
	text-align: left;
	margin-right: 2%;
	margin-top: 7%;

}

td.contact
{
	padding-bottom: 5%;
	padding-right: 15px;
	font-weight: bold;
}


div.barre
{
	width: 100%;
	height: 40px;
	background-image: linear-gradient(to bottom, #FFFFFF, #CCCCCC);
 
}

div.page
{
	background-color: rgba(255, 255, 255, 0.5);
	align-content: center;
	text-align: center;
}

section.pixel
{
	text-align: center;
	margin: 5%;
}


td.pixel:hover
{
	text-align: center;
	margin: 5%;
	background-color: rgba(255, 255, 255, 0.5);
	text-shadow: 0px 0px 2px black;
	font-size: 120%
}


table.pixel
{
	margin: auto;
	width: 100%;
	border-spacing: 100px 50px;
}

td.pixel
{
	width: 33%;
	transition: 0.2s;
}

p.titre
{
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 110%;	
	font-weight: bold
}

p.date
{
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 90%;	
}

tr.pixel
{

}

footer
{
	background-color: black;
	text-align: left;
	font-family: 'Montserrat Alternates', sans-serif;	
	color: white;
	text-align: center;
}


p.footer
{
	margin: 0;
	padding: 20px;
}

p.post
{
	text-align: left;
	font-size: 100%;
	font-family: 'Montserrat Alternates', sans-serif;
}

img.post
{
	text-align: left;
	border-radius: 10px; 
	float: left;
	margin-right: 4em;
	margin-bottom: 2em;  
}

div.post
{
	background-color: rgba(255, 255, 255, 0.5);
	padding: 3em 3em 3em 4em;
	min-height: 500px;
}

h2
{
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 250%;
	font-weight: bold;
	margin-top: 2px;
	padding-left: 15em;
}

button
{
	background-color: black;
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 120%;
	margin: 2em;
	border: none;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	transition: .2s;
}

button:hover
{
	color: black;
	background-color: white;

}